# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Thirdparty
thirdparty/opencv/*
thirdparty/eigen/*

# Build
build/*
cmake-build-debug/*
cmake-build-release/*

# Python cache
**/__pycache__/
*.pyc
